development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: tfquiz_development
  pool:     5
  username: your-username
  password: your-password-always-git-ignore-this-file
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: tfquiz_test
  pool:     5
  username: your-username
  password: your-password-always-git-ignore-this-file
  template: template0
