%tr
  %td.right= class_name.name
  %td.left= class_name.other.name
  %td= render 'class_relationship_select', class_name: class_name
  %td= render 'object_relationship_select', class_name: class_name
  %td.answer
