= simple_form_for(@class_name) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, autofocus: true
    / = f.input :group, collection: (1..12)
    / = f.input :attributez
    / = f.input :methodz

  .form-actions
    = f.button :submit
