%select.obj-rel
  %option{:value => ""}
  %option{:value => "inheritance"} Every A is a kind of B
  %option{:value => "inheritance"} Every B is a kind of A
  %option{:value => "inheritance?"} A and B are kinds of some other C
  %option{:value => "composition"} A can have one or many Bs
  %option{:value => "composition"} B can have one or many As
  %option{:value => "modules"} A and B share some attributes and behaviors
  %option{:value => "nothing"} Unrelated or unclear
