%h1 Class Relationships Practice

This is your opportunity to practice recognizing Inheritance, Composition and Modules relationships.
%br
For each randomly generated pair below, there should be one "best" answer.  Find it!
%br
Just refresh the page for new relationships.  Enjoy!

%p

- unless @class_names.empty?

  %table
    %thead
      %tr
        / %th
        %th.right A
        %th.left and B
        %th.left could use...
        %th
        %th.left to model this real-life relationship
        %th

    %tbody
      = render @class_names

  %br

  = link_to 'New Class Name', new_class_name_path
